<table id=tanks class="table table-dark table-striped table-bordered">
			
		  	<thead >
					<tr>
						<th scope="col" class='text-center'>Label</th>
						<th scope="col" class='text-center'>Tier</th>
						<th scope="col" class='text-center'>Type</th>
						<th scope="col" class='text-center'>Nation</th>
						<th scope="col" class='text-center'>Category</th>
						<th scope="col" class='text-center'>DPM</th>
						<th scope="col" class='text-center'>Speed</th>
						<th scope="col"class='text-center'>Frontal Armor</th>
						<th scope="col"class='text-center'>Health Points</th>
						<th scope="col"class='text-center'>Gun Depression</th>
						<th scope="col"class='text-center'>Silver Alpha</th>
						<th scope="col"class='text-center'>Gold Alpha</th>
						<th scope="col"class='text-center'>HE Alpha</th>
						<th scope="col" class="text-center">Action</th>
					</tr>
					<tr>
							<th scope="col" class='text-center'>
								<input type="text" id="Label" class="form-control" placeholder="enter new label...">
							</th>
							
							<th scope="col" class='text-center'>
								<select id="Tier" class="form-select" aria-label="Default select example">
  								<option selected value="1">I</option>
  								<option value="2">II</option>
  									<option value="3">III</option>
  									<option value="4">IV</option>
  									<option value="4">IV</option>
  									<option value="5">V</option>
  									<option value="6">VI</option>
  									<option value="7">VII</option>
  									<option value="8">VIII</option>
  									<option value="9">IX</option>
  									<option value="10">X</option>
								</select>
							</th>
							
							
							<th scope="col" class='text-center'>
								<select id="Type" class="form-select">
  								<option selected value="TD">TD</option>
  								<option value="Heavy">Heavy</option>
  									<option value="Light">Light</option>
  									<option value="Medium">Medium</option>
								</select>
							</th>
							
							<th scope="col" class='text-center'>
								<select id="Nation" class="form-select">
  								<option selected value="USSR">USSR</option>
  								<option value="Germany">Germany</option>
  									<option value="USA">USA</option>
  									<option value="GBR">GBR</option>
  									<option value="France">France</option>
  									<option value="Japan">Japan</option>
  									<option value="China">China</option>
  									<option value="EU">EU</option>
								</select>
							</th>
							
							
							<th scope="col" class='text-center'>
								<select id="Category" class="form-select">
  								<option selected value="Premium">Premium</option>
  								<option value="Collector">Collector</option>
  									<option value="Researchable">Researchable</option>
								</select>
							</th>
							
							<th scope="col" class='text-center'>
								<input type="number" id="DPM"  class="form-control" placeholder="enter new DPM...">
							</th>
							<th scope="col" class='text-center'>
								<input type="number" id="Speed"  class="form-control" placeholder="enter new Speed...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="Frontal Armor"  class="form-control" placeholder="enter new Frontal Armor...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="Health Points"  class="form-control" placeholder="enter new Health Points...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="Gun Depression"  class="form-control" placeholder="enter new Gun Depression...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="Silver Alpha" class="form-control" placeholder="enter new Silver Alpha...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="Gold Alpha"  class="form-control" placeholder="enter new Gold Alpha...">
							</th>
							<th scope="col"class='text-center'>
								<input type="number" id="HE Alpha" class="form-control" placeholder="enter new HE Alpha...">
							</th>
							<th scope="col" class="text-center"> 
								<button type= "submit" class="btn btn-success" onclick="saveTank()">Add</button> 
							</th>
					</tr>
				</thead>
				
		  	<tbody id=last>
		     
		  	</tbody>
		  	
</table>
